boto3==1.34.0
botocore==1.34.0
opensearch-py==2.6.0
python-hcl2==4.3.5
pydantic==2.8.2
pydantic-settings==2.3.4
tenacity==8.5.0
rich==13.7.1
certifi==2024.2.2
requests==2.31.0
urllib3==2.0.7
aws_requests_auth
